* {margin: 0; padding: 0;}
body {
    min-width: 1500px;

}

.side_menu {
    list-style-type: none;
    background-color: #fff;
    outline-color: #aaa;
    outline-style: auto;
    width: 20%;
    padding: 0;
    margin: 0;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.side_menu_li {
    margin-left: 15px;
}
.side_menu_li a {
    text-decoration: none;
    display: block;
    padding: 8px 15px 8px 15px;
    font-weight: bold;
    font-size: large;
}
.home_btn{
    margin-top: 20px;
    margin-left: 10px;
    font-size: xx-large;
}
.vaccine_btn {
    margin-top: 20px;
}
.flight_btn {
    margin-top: 20px;
}
.recent_btn {
    margin-top: 20px;
}

#page_title {
    margin-left:10%; 
    text-align: center;
    margin-top: 40px; 
    height: 100%
}

/* container 구성 */
#wrap {
    /* min-width: 480px; */
    margin-left: 25%;
    width: 65%;
    background-color: #FAFAFA;
}
#content_box {
    overflow: auto;
    padding: 1%;
    width: 100%;
    min-width: 480px;
    height: 100%;
    background-color: #FAFAFA;
}
#content_box .content1 {
    overflow: auto;
    width: 90%;
    /*min-height: 580px;*/
    height: 100%;
    min-width: 480px;
    margin-top: 30px;
    border-radius: 5px; 
    background-color: #ffffff; 
    border: 1px solid #707070;
}
#content_box .content2 {
    overflow: auto;
    width: 90%; 
    height: 100%;
    /*min-width: 800px; */
    margin-top: 30px;
    border-radius: 5px; 
    background-color: #ffffff; 
    border: 1px solid #707070;
    margin-bottom: 50px;
}

.navbar{
    visibility: hidden;
    height: 0px; 
    background-color: white;
}
.nav_li {
    list-style: none;
    display: flex;
    color: black;
    padding: 12px 15px 12px 15px;
    font-weight: bold;
    font-size: 20px;
    margin-left: 43%;
}


@media (max-width: 1200px){
    .side_menu {visibility: hidden; width: 0%; height: 0%;}
    #wrap {margin-left: 20%}
    #page_title{margin-left: 3%;}
    .navbar{visibility: visible; height: 240px; width: 100%; border: 1px solid #707070;}
}


@media (max-width: 1100px){
    .side_menu {visibility: hidden; width: 0%; height: 0%;}
    #wrap {margin-left: 20%}
    #page_title{margin-left: 3%;}
    .navbar{visibility: visible; height: 240px; width: 100%; border: 1px solid #707070;}
    .nav_li{margin-left: 39%;}
}


@media (max-width: 900px){
    .side_menu {visibility: hidden; width: 0%; height: 0%;}
    #wrap {margin-left: 20%}
    #page_title{margin-left: 3%;}
    .navbar{visibility: visible; height: 240px; width: 100%; border: 1px solid #707070;}
    .nav_li{margin-left: 37%;}
}


@media (max-width: 660px){
    .side_menu {visibility: hidden; width: 0%; height: 0%;}
    #wrap {margin-left: 20%}
    #page_title{margin-left: 3%;}
    .navbar{visibility: visible; height: 240px; width: 100%; border: 1px solid #707070;}
    .nav_li{margin-left: 30%;}
}