* {margin: 0; padding: 0;}
body {
    min-width: 1500px;
}

/* 사이드 메뉴 구성 */
ul {
    list-style-type: none;
    background-color: #fff;
    outline-color: #aaa;
    outline-style: auto;
    width: 20%;
    padding: 0;
    margin: 0;
    position: fixed;
    height: 100%;
    overflow: auto;
}
li {
    margin-left: 15px;
}
li a {
    text-decoration: none;
    display: block;
    color: #555;
    padding: 8px 15px 8px 15px;
    font-weight: bold;
    font-size: large;
}
.home_btn{
    margin-top: 20px;
    margin-left: 10px;
    font-size: xx-large;
}
.vaccine_btn {
    margin-top: 40px;
}
.flight_btn {
    margin-top: 20px;
}
.recent_btn {
    margin-top: 20px;
}
li a:hover {
    color: #F17F42;
}

/* container 구성 */
#wrap {
    width: 1100px; 
    margin-left: 20%;
    background-color: #FAFAFA;
}
#content_box {
    overflow: auto; 
    padding: 1%; 
    width: 100%;
    height: 800px; 
    background-color: #FAFAFA;
}
#content_box .content1 {
    overflow: scroll; 
    width: 90%; 
    height: 580px; 
    min-width: 800px; 
    margin-top: 50px;
    border-radius: 5px; 
    background-color: #ffffff; 
    border: 1px solid #707070;
}
#content_box .content2 {
    overflow: scroll; 
    width: 90%; 
    height: 380px; 
    min-width: 800px; 
    margin-top: 10px; 
    border-radius: 5px; 
    background-color: #ffffff; 
    border: 1px solid #707070;
}

/* 화면 너비 0 ~ 1090px 
@media (max-width: 1090px){
    #wrap {width: 100%;}
    #content_box {width: 100%;}
    #content_box .content1{height: 580px;}
}*/