* {margin: 0; padding: 0;}
body {
    min-width: 1500px;

}

ul {
    list-style-type: none;
    background-color: #fff;
    outline-color: #aaa;
    outline-style: auto;
    width: 20%;
    padding: 0;
    margin: 0;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li {
    margin-left: 15px;
}
li a {
    text-decoration: none;
    display: block;
    color: #555;
    padding: 8px 15px 8px 15px;
    font-weight: bold;
    font-size: large;
}
.home_btn{
    margin-top: 20px;
    margin-left: 10px;
    font-size: xx-large;
}
.vaccine_btn {
    margin-top: 20px;
}
.flight_btn {
    margin-top: 20px;
}
.recent_btn {
    margin-top: 20px;
}
li a.home_btn:hover {
    color: inherit !important;
    background: inherit !important;
}
li a.recent_btn:hover {
    color: #F17F42;
}
li a.vaccine_btn:hover {
    color: #F17F42;
}
li a.flight_btn:hover {
    color: #F17F42;
}
/* container 구성 */
#wrap {
    min-width: 480px;
    margin-left: 25%;
    background-color: #FAFAFA;
}
#content_box {
    overflow: auto;
    padding: 1%;
    width: 100%;
    min-width: 480px;
    height: 100%;
    background-color: #FAFAFA;
}
#content_box .content1 {
    overflow: auto;
    width: 90%;
    /*min-height: 580px;*/
    height: 100%;
    min-width: 480px;
    margin-top: 30px;
    border-radius: 5px; 
    background-color: #ffffff; 
    border: 1px solid #707070;
}
#content_box .content2 {
    overflow: auto;
    width: 90%; 
    height: 100%;
    /*min-width: 800px; */
    margin-top: 30px;
    border-radius: 5px; 
    background-color: #ffffff; 
    border: 1px solid #707070;
}

/* 화면 너비 0 ~ 1090px 
@media (max-width: 1090px){
    #wrap {width: 100%;}
    #content_box {width: 100%;}
    #content_box .content1{height: 580px;}
}*/